{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Accueil
{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>SoundScoop</h1>

    <section>
        <h2>Les 3 derniers articles</h2>
        <ul>
            {% for article in latestArticles %}
                <li>{{ article.title }}</li>
            {% endfor %}
        </ul>

        <h2>Tous les artistes</h2>
        <ul>
            {% for artist in allArtists %}
                <li>{{ artist.name }}</li>
            {% endfor %}
        </ul>

        <h2>Toutes les catégories</h2>
        <ul>
            {% for category in allCategories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>

        <h2>Tous les styles</h2>
        <ul>
            {% for style in allStyles %}
                <li>{{ style.name }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>À propos de nous</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam sollicitudin tempor id. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Bibendum at varius vel pharetra vel turpis. Vel quam elementum pulvinar etiam. Viverra vitae congue eu consequat. Vitae congue eu consequat ac felis. Velit dignissim sodales ut eu sem integer vitae justo eget. Varius sit amet mattis vulputate enim nulla. Et tortor at risus viverra. Laoreet sit amet cursus sit amet dictum sit amet justo. Amet justo donec enim diam vulputate. Pharetra convallis posuere morbi leo urna molestie at. Suspendisse potenti nullam ac tortor vitae purus. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Diam maecenas ultricies mi eget mauris. Non nisi est sit amet facilisis magna etiam. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Dignissim sodales ut eu sem integer vitae justo eget.
        Non curabitur gravida arcu ac tortor dignissim convallis aenean et. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Purus sit amet luctus venenatis lectus magna fringilla urna. Non arcu risus quis varius quam quisque id diam vel. Duis convallis convallis tellus id interdum velit laoreet id. Massa tincidunt dui ut ornare lectus sit amet est. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Nullam eget felis eget nunc lobortis mattis aliquam faucibus. Sociis natoque penatibus et magnis dis. Non blandit massa enim nec dui nunc mattis. Justo donec enim diam vulputate ut pharetra sit amet.</p>
    </section>

    <section>
        <h2>Nos photos</h2>
        {# {% for image in images %}
            <img src="{{ asset('path/to/images/' ~ image) }}" alt="Image {{ loop.index }}">
        {% endfor %} #}
    </section>
</div>
{% endblock %}
